@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Edu+NSW+ACT+Foundation&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  height: 250px;
  background-image: url('./assets/Header Background 2.png');
  background-color: rgb(0,0,0,.2);
  background-blend-mode: multiply;
  background-size: cover;
  text-align: center;
  padding-top: .5em;
  position: sticky;
}

.headerTitle {
  margin-top: 0px;
  font-family: Alkatra;
  font-size: 150px;
  color: rgb(81, 47, 144);
  text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.75);
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  
}

.nav-bar li {
  font-family: Edu NSW ACT Foundation;
  font-size: x-large;
  display: inline;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0px black;
}

.nav-bar li:hover {
  color: rgb(149, 104, 231);
  background-color: rgba(31, 109, 218, 0.3);
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: center;
  height: 1100px;
  width: 100%;
  background-color: rgb(63, 53, 133);
  padding-bottom: 100px;
}

.inner-container {
  justify-content: space-around;
  overflow-x: hidden;
  overflow-y: auto;
  width: 90%;
  height: 100%;
  margin-top: 20px;
  background-color: rgb(99, 80, 202);
  border: 3px solid white;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  color: white;
  
}

.home-header {
  font-family: Alkatra;
  margin-top: 20px;
  font-size: 4em;
}

.home-text {
  font-family: Edu NSW ACT Foundation;
  font-size: x-large;
}

.card-display {
  display: inline-table;
  text-align: center;
  width: 250px;
  height: 350px;
  margin: 30px;
  padding: 10px;
  background-color: darkslategray;
  color: white;
  border: 3px solid white;
  border-radius: 15%;
}

.card-header {
  font-family: Alkatra;
  text-shadow: 2px 2px 2px rgb(0,0,0);
  margin-bottom: 7px;
}

.card-text {
  margin: 4px;
  text-shadow: 2px 1px 1px rgb(0,0,0);
}

.mag-card-display {
  display: inline-block;
  text-align: center;
  width: 80%;
  padding: 10px;
  margin: 20px 80px;
  background-color: darkslategray;
  color: white;
  border: 3px solid white;
  border-radius: 50px;
}

.mag-card-display p {
  font-size: larger;
  text-shadow: 2px 1px 1px rgb(0,0,0);
  margin: 5px;
}

.mag-card-display h1 {
  font-family: Alkatra;
  font-size: 40px;
  text-shadow: 2px 2px 2px rgb(0,0,0);
}

.custom-container {
  display: flex;
  justify-content: space-evenly;
  height: 1100px;
  width: 100%;
  background-color: rgb(63, 53, 133);
  padding-bottom: 100px;
}

.main-item-container {
  background-color: midnightblue;
  overflow-x: hidden;
  overflow-y: auto;
  width: 150%;
  height: 1000px;
  margin-top: 20px;
  margin-right: 50px;
  border: 3px solid white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.custom-card-display {
  display: inline-block;
  text-align: center;
  width: 85%;
  padding: 10px;
  margin: 20px 60px;
  background-color: darkslategray;
  color: white;
  border: 3px solid white;
  border-radius: 50px;
}

.custom-card-header {
  font-family: Alkatra;
  font-size: 40px;
}

.custom-card-display p {
  font-size: larger;
  margin: 5px;
}

.custom-card-display h1 {
  font-size: 40px;
}

.custom-form {
  display: inline;
  width: 60%;
  height: 75%;
  padding: 10px;
  margin: 20px 20px 20px 50px;
  background-color: darkslategray;
  color: white;
  border: 3px solid white;
  border-radius: 25px;
}

.form-input {
  font-family: Edu NSW ACT Foundation;
  text-shadow: 2px 1px 1px rgb(0,0,0);
  margin: 10px 0px;
}

.form-input-text {
  font-family: Edu NSW ACT Foundation;
  text-shadow: 2px 2px 2px rgb(0,0,0);
  font-size: 25px;
  margin: 10px;
}

.custom-button {
  margin: 20px 40px;
  width: 80%;
  height: 50px;
  font-family: Alkatra;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgb(0,0,0);
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit-button {
  margin: 10px 25px 20px 40px;
  width: 80%;
  height:50px;
  font-family: Alkatra;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgb(0,0,0);
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.input-box {
  width: 60%;
  border-radius: 5px;
  float: right;
}

#attunement {
  margin-left: 15px;
}

#description {
  resize: none;
  width: 100%;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}